/** body font family and background image **/

html,body {
    margin: 0;
    padding: 0;
    background: #eee;
    background-image: -moz-linear-gradient(top, 
							#fafafa, 
							#cccccc);
	background-image: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#fafafa),
		color-stop(1, 		#cccccc));

}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html a:hover,body a:hover {
    text-decoration: underline;
}

html a,body a, html a:visited,body a:visited {
    color: [[setting:linkcolor]];
}

html a:hover,body a:hover {
    color: [[setting:linkcolor]];
}


/** remove text decoration from some links **/

div.yui3-widget-bd a, .tabtree li a, .block div.content a, .unlist a, .categorybox a, .course_category_tree a, .section a {
    text-decoration: none;
}

a:active {
    outline: 0;

/* for browsers that understand */
}

a:focus {
    outline: 0;

/* for browsers that understand */
}

/**header divs **/
#page-header {
    float: none;
    width: auto;
}

#headerwrap {
	height: 80px;
	clear: both;
	background: [[setting:maincolor]] url([[pix:theme|header]]) repeat-x top left;
	border-bottom: 1px solid #fff;
}

#headerinner {
	height: 80px; 
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	
}

 div.langmenu {
    float: right !important;
    display: inline !important;
    padding: 0px 0px 0px 0px !important;
    line-height: 28px !important;
    margin: 0px 0px 0px 5px !important;
    font-size: 9px;
}

#ebutton {
	width: 150px;
	float: right;
	text-align: right;
	margin-top: 10px;
	margin-right: 0px;
}

#ebutton .singlebutton {
	text-align: right;
}


/** main content wraps **/
#contentwrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding-top: 10px;
	clear: both;
}	

#page-content {
	clear: both;
}


/** breadcrumb and button holders at top of page content **/

div#jcontrols_button {
   
    height: 35px;
    border-bottom: 0px solid #666;
    background: [[setting:maincolor]] url([[pix:theme|shadtop]]) repeat-x bottom left;
}

div.jcontrolsleft {
    margin-left: 15px;
    font-weight: 600;
    font-size: 13px;
    float: left;
    min-width: 100px;
    max-width: 45%;
    overflow: hidden;
    height: 35px;
}

div.jcontrolsright {
    float: right;
    min-width: 50%;
    height: 35px;
    margin-right: 15px;
}

.jcontrolsright .logininfo {
	line-height: 30px;
	color: #fff;
	font-size: 11px;
	font-weight: 200;
	text-align: right;
}

.jcontrolsright .logininfo a{
	color: #fff;
}

div.jcontrolsright div.singlebutton, div.jcontrolsright div.forumsearch {
    margin: 5px 0px 0px;
}

/** foot wraps and inner divs **/
#footerwrapper {
	height: 40px;
	background: [[setting:maincolor]] url([[pix:theme|shadbottom]]) repeat-x top left;
	margin-top: 15px;
	
}

#footerinner {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #eee;
}

#footerinner a {
	color: #fff;
}

.johndocs {
    float: right;
    height: 15px;
    font-size: 8px;
    margin: 10px 3px 0px 0px;
    color: #333333;
}

.johndocs a, div.johndocsleft a {
    font-weight: 200;
    text-decoration: none;
}

div.johndocsleft {
    float: left;
    height: 15px;
    margin-top: 10px;
    width: 300px;
    font-size: 11px;
}

/** Some breadcrumb style **/

.breadcrumb ul {
    line-height: 30px;
}

.breadcrumb li a,.breadcrumb li, .breadcrumb li a:visited {
    font-weight: 300;
    text-decoration: none;
    color: #eee;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.5);
    font-size: 11px;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb li img {
    vertical-align: middle;
}

/** breadcrumb image replacement **/

div#jcontrols_button2 span.arrow.sep {
    font-size: 0px;
    color: #fafafa;
    background: url([[pix:theme|bread]]) no-repeat;
    background-position: 50% -4px;
    display: inline-block;
    width: 16px;
    line-height: 35px;
    
}

span.arrow.sep {
	font-size: 80%;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
}

#page-content #region-main {
	
}

#mainpadder {
	padding: 15px;
	}

#region-main .region-content {
	border: 1px solid #ccc;
	background: #fff;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	margin-bottom: 5px;
}

/** Block styles **/

.block {
    margin: 0 0 15px 0 !important;
    padding: 5px;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px #ccc;
	-moz-box-shadow: 0px 1px 3px #ccc;
	box-shadow: 0px 1px 3px #ccc;

}

.block div.header {
    margin: 0 0 0 !important;
    padding-top: 0 !important;
    min-height: 33px;
    height: auto !important;
    height: 33px;
    
    background: [[setting:maincolor]] url([[pix:theme|bart5]]) repeat-x;
}

.block.hidden div.header {
    border: 1px solid #dadada;
}

.block.block_with_controls div.header div.commands {
    text-align: center;
    padding: 2px;
}

.block.block_with_controls div.header div.commands a img {
    margin-right: 3px;
}

.block .header h2 {
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 !important;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.6);
}

.block .header .block_action {
    float: right;
    margin: 2px 5px 3px 0;
    vertical-align: top;
}

.block div.block_action input, .block div.block_action img {
    margin-top: 3px;
    margin-right: 3px;
    position: relative;
    top: 6px;
}

.block div.content {
    font-size: 12px;
    font-weight: 200;
    padding: 10px 15px 15px;
}

/** some specific block styles for calendar block, login block, my profile block, etc. **/

.block_calendar_month table.minicalendar.calendartable td,.block_calendar_month table.minicalendar.calendartable th {
    border: none !important;
}

.block_calendar_month table.minicalendar {
    margin-bottom: 0px !important;
}

.block_calendar_month table.minicalendar.calendartable th abbr {
    border: none !important;
    text-decoration: none;
}

.block_comments div.content li {
    list-style-type: none;
}

.block_messages.block div.content .list a {
    font-size: 10px;
}

.block_login.block div.content div {
    margin-bottom: 9px;
    clear: both;
}

.block_login.block div.content label {
    font-size: 11px;
    display: inline-block;
    min-width: 50px;
    margin-right: 3px;
}

.block_myprofile div.content div {
    font-size: 11px;
}

.block_myprofile div.content div.myprofileitem.picture {
    width: 105px;
    float: left;
}

.block_myprofile div.myprofileitem.fullname {
    font-size: 12px;
    font-weight: 800;
}

.block_myprofile div.myprofileitem.edit {
    clear: both;
    font-weight: 800;
    font-size: 12px;
}

.block_news_items div.content li.post {
    margin-bottom: 4px;
    margin-top: 2px;
}

.block_news_items div.content div.head.clearfix {
    font-size: 11px;
}

.block_news_items div.content div.info {
    font-weight: 600;
}

/** inner block style for decent display of recent news, etc **/

.block_recent_activity.block_docked div.content h2.main, .block_recent_activity.block_docked div.content h3.main, .side-pre .block div.content h2.main,.side-post .block div.content h2.main,.block div.content h3.main,.block div.content h2 {
    font-size: 13px;
    color: #333;
    font-weight: 800;
    background: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/** yui overlays **/

div.yui3-widget.yui3-overlay.yui3-widget-positioned {
    border: 1px solid #cccccc;
}

div.yui3-overlay-content.yui3-widget-stdmod {
    border: 1px solid #fff;
    background: #ffff66 url([[pix:theme|alert-overlay]]) repeat-x;
}

div.yui3-widget-bd {
    border: none;
    background: none;
}

div.yui3-widget-bd h1.helpheading {
    font-size: 16px !important;
    font-weight: 800;
    margin-top: 5px;
}

.yui-module.yui-overlay.yui-panel div.hd {
    background: #eeeeee url([[pix:theme|bart5]]) repeat-x 0% 90%;
    }

/**moodle dropdown css for yui menu **/

#custommenu2 {
    font-size: 13px;
    font-weight: 600;
    border: none !important;
    float: left;
	width: 60%;
	border: 0px solid #fff !important;
	margin-left: 25px;
	margin-top: 25px;
}

#custommenu2 * {
	border: none !important;
}

/*overrides for custom menu. don't touch */
/*YUI Reset */
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-content{ background-position: -10000px -10000px; border: none;
	border-top: none;}

.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label{ background-position: -10000px -10000px; border: none;
	border-top: none; }

.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-active,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content,.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-menuvisible{ background-position: -10000px -10000px; border: none;
	border-top: none; }

.yui3-skin-sam #page .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-label { background-position: right center; border: none;
	border-top: none;}

.yui3-skin-sam #page .yui3-menubuttonnav .yui3-menu-label em { background-position: right center; border: none;
	border-top: none;}

.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label .yui3-menu-toggle { background-position: 3px center;	border: none;
	border-top: none; }

.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label-menuvisible .yui3-menu-toggle { background-position: 0% 50%; border: none;
	border-top: none;}

.yui3-skin-sam #page .yui3-menu-content, .yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-content, .yui3-skin-sam #page .yui3-menu ul.first-of-type, .yui3-skin-sam #page .yui3-menu-horizontal ul  {
	border: none;
	border-top: none;
}

.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label, .yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {
	margin: 0 0 !important;
}

/*end overrides for custom menu. don't touch */

/* menu bar background */
#custommenu {
	font-size: 13px;
	font-weight: 600;
	background: transparent !important;
}

#custommenu * {
	border: none ;
}

/*keep items the same size while loading */
#custommenu .yui3-menu-horizontal.javascript-disabled li a {
    display: block;
    padding: 0;
}

/*bar menu item */
.yui3-menu-content li a {
	font-size: 13px;
	font-weight: 300;
	line-height: 32px;
	cursor: pointer;
	border: none !important;
	color: #aaa !important;
	text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.6);
	padding: 0px 15px !important;
}

/*bar menu item hover background color */
.yui3-menu-content li:hover, div.yui3-menu.custom_menu_submenu {
	background: [[setting:maincolor]] !important;
	box-shadow: 1px 3px 4px  rgba(0, 0, 0, 0.25);
}

div.yui3-menu.custom_menu_submenu div.yui3-menu.custom_menu_submenu {
	background: none !important;
	min-width: 100px;
}

/*submenu background color */
div.yui3-menu.custom_menu_submenu div.yui3-menu-content {
	background: [[setting:maincolor]] !important;
}

div.yui3-menu.custom_menu_submenu div.yui3-menu-content {
	min-width: 200px;
	padding-bottom: 0 !important;
}

div.yui3-menu.custom_menu_submenu .yui3-menu-content li {
	border-left: none;
	background: none !important;
}

/*submenu link color and size */
div.yui3-menu.custom_menu_submenu .yui3-menu-content li a {
	font-size: 12px;
	text-transform: none;
	background: none !important;
	text-decoration: none !important;
}

/*submenu hover */
div.yui3-menu.custom_menu_submenu .yui3-menu-content li a:hover, div.yui3-menu.custom_menu_submenu li a.yui3-menu-label:hover {
	background: [[setting:linkcolor]] !important;
}

/*custom menu, may not work in all situations */
.custom_menu_submenu.yui3-menu-hidden {
	opacity: 0.0;
}

.custom_menu_submenu {
	opacity: 1.0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.yui3-menu-content li:hover {
	-moz-transition:background-color 0.3s ease-in-out;
	-webkit-transition:background-color 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

/** yui moodle dock bar **/

#dock {
    padding-top: 0px;
    width: 30px;
    background: [[setting:maincolor]];
}

div.dockeditem_container div.dockeditem {
    background: url([[pix:theme|mbar]]) repeat-y;
    border: none;
    color: #fff;
    font: 100% Constantia, Lucidabright, Lucida, Georgia, serif;
}

div.dockeditem_container.firstdockitem {
    border-top: none;
}

div.dockedtitle {
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dockedtitle h2 {
    font-weight: 200 !important;
}

div.dockeditempanel_content {
    border: 1px solid #dadada !important;
    border-left: none !important;
    font-size: 90%;
}

div.dockeditempanel_content a {
    text-decoration: none;
}

div.dockeditempanel_hd {
    text-align: left;
    font-size: 12px;
}

div.dockeditempanel_hd {
    padding-top: 3px;
    padding-bottom: 3px;
    background: #eee;
    border-bottom: 1px solid #dadada !important;
}

div.dockeditempanel_hd h2 {
    font-weight: 600;
    font-size: 12px;
}

div.dockeditempanel_bd ul, div.dockeditempanel_bd li {
    list-style-type: none;
    padding: 0;
}

div.dockeditempanel_bd {
    font-weight: 200;
}

#dockeditempanel {
    margin-left: 1px;
}

#dock div.controls {
    margin-top: 20px;
    padding-top: 0px;
    position: relative;
}

/** main headings **/

h3.sectionname, h2.headingblock,h2.main,h3.main, h2.main a, h3.main a, div.loginpanel h2, div.signuppanel h2 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    padding-bottom: 2px;
    margin: 3px 0 2px;
    border-bottom: 2px solid [[setting:maincolor]];
    display: block;

    font-weight: normal;
    color: [[setting:maincolor]];
    }

 #page-course-info h2.main, h3.sectionname, h2.main a, h3.main a, div.loginpanel h2, div.signuppanel h2, div.hd h3.main {
    font-size: 16px;
    background: none;
}

#page-my-index h3.main {
	border-bottom: 0px;
}

/** forum post style **/

.forumpost {
	border: 1px solid #ccc;
	 -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px #ccc;
	-moz-box-shadow: 0px 1px 3px #ccc;
	box-shadow: 0px 1px 3px #ccc;

}

.forumpost div.row.header {
	background: #eee url([[pix:theme|forumt]]) no-repeat 20px 100%;
	padding-bottom: 12px;
}

.forumpost.starter div.row.header {
	background: #ccc url([[pix:theme|forumt]]) no-repeat 20px 100%;
	
}	
	

.forumpost .left.picture img {
	border: 2px solid #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px #ccc;
	-moz-box-shadow: 0px 1px 3px #ccc;
	box-shadow: 0px 1px 3px #ccc;
}
.forumpost .topic {
	padding-top: 5px;
	padding-left: 5px;
}

.forumpost .subject {
	font-size: 110%;
}

.forumpost .author {
	font-size: 90%;
	font-weight: 300;
}

 .forumpost .content {
	padding: 10px;
}

.forumpost .row.side {
	font-size: 90%;
	padding-top: 10px;
	padding-bottom: 5px;
	
}

.forumpost .commands {
	padding-right: 5px;
}


.row .options {
	padding-right: 10px;
}

.info .name a {
    font-weight: bold;
}

.indent {
    margin-left: 30px;
}

div.subscribelink {
    text-align: right;
}

.subscribelink a {
    text-decoration: none;
    font-size: 11px;
}

/**tables and fields and foms oh my! **/

.mform fieldset,fieldset.clearfix {
    border: 1px solid #dadada !important;
    background: #f9f9f9;
}

.ftoggler {
    font-size: 18px;
    color: #333333;
}

div.notifysuccess {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    color: #008500;
    border: 3px solid #dadada;
    text-align: center;
    background: #fff url([[pix:theme|check]]) no-repeat 2% 50%;
    padding: 5px;
}

table a {
    text-decoration: none;
}

/* report fixes and grade table fixes */
.path-course-report #region-main-box #region-main .region-content, .path-course-report #page-content #region-main-box #region-post-box #region-main-wrap #region-main .region-content, .pagelayout-report .no-overflow {
	overflow: auto;
}

.pagelayout-report #page-content {
    overflow: hidden;
} 

.overview-tablecontainer, .graph {
	overflow: auto;
}

table#completion-progress, #page-admin-course-index .editcourse {
	display: block !important;
    overflow: auto;
    width: 100%;
}

#page-admin-plugins #plugins-control-panel {
    display: block;
    overflow: auto;
}

/*grade menu hover menu */
.actionmenu .yui3-menu-content li a, .actionmenu .yui3-menu-content li, .actionmenu .yui3-menu-content li:hover a {
	color: #000 !important;
}

.actionmenu div.yui3-menu {
	border: 1px solid #ccc !important;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	background: #fff !important;
}


#translator td.cell.lastcol {
	padding-left: 0px;
	padding-right: 0px;
}

/** Coursebox and category box stuff for front page **/

ul.unlist, ul.unlist li, ul.unlist li div, ul.unlist li div ul, ul.unlist li div ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.coursebox {
    padding-bottom: 7px !important;
    margin-bottom: 7px !important;
    border-bottom: 1px solid #eee;
}

div.coursebox h3.name {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.coursebox h3.name a {
    font-size: 16px;
    font-weight: 400;
}

.unlist div.summary {
    font-size: 14px;
    color: #666666;
    font-style: italic;
}

.unlist ul.teachers {
    display: block;
    padding-left: 5px !important;
}

.unlist ul.teachers li {
    font-size: 10px;
}

.unlist ul.teachers li a {
    font-size: 11px;
}

div.categorybox {
    border: none !important;
    margin-top: 0;
}

td.category.name a {
    padding-left: 20px;
    background-image: url([[pix:theme|jcourse]]) no-repeat 0 50%;
    font-weight: 400;
    font-size: 16px;
}

#course-index td.category.name a {
    padding-left: 0px;
    background-image: none;
}

table.categorylist td {
    padding: 0;
}

div.course_category_tree a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

div.course_category_tree div.category,div.course_category_tree div.category_label,div.course_category_tree div.courses {
    margin-bottom: 8px;
}

div.course_category_tree div.category.with_children div.category_label {
    background-position: 0 55% !important;
}

div.course_category_tree div.course.odd {
    background: #eee;
}

div.course_category_tree div.course a {
    font-size: 14px;
}

div.category.subcategory.with_children {
    margin-left: 20px;
}

div.course_category_tree div.controls {
    font-size: 10px;
    color: #666;
    text-transform: uppercase;
}

div.course_category_tree div.controls div {
    margin-top: 3px;
    margin-right: 10px;
    border-bottom: 1px solid #dadada;
}

/** inside  of course **/
/** inside  of course **/
ul.topics, ul.weeks {
	margin: 0px;
}

.path-course-view .course-content li.section {
    border: 0px solid transparent;
    border-bottom: 1px solid #eee;
}

.path-course-view .course-content .side {
    padding: 5px 0;
}

#page-course-view-weeks .weekdates {
    font-size: 1em;
    font-weight: normal;
    color: #777;
    padding: 2px;
}

.course-content .main {
  background:#fff;
 }

/*current topic hightlight */
.course-content .current {
  background:#ffffee;
 }

.course-content .current .left.side {
	color: #333;
} 
 
.course-content .main .content {
    padding: 10px 0px;
    background:transparent;
}

.course-content .section li.activity {
	padding: 3px 0px;
}

span.completionprogress {
    font-size: 11px;
    font-weight: 200;
    padding-top: 3px;
}

.path-course-view li.activity span.autocompletion, .path-course-view li.activity form.togglecompletion {
    right: -10px;
}

.course-content ul.weeks li.section, .course-content ul.topics li.section {
	margin: 0 0;
	padding: 10px 0px;
}

/*course combo list on front page */
.course_category_tree .category {
    background-color: #FFFFFF;
    background: #fff url([[pix:theme|hgradient]]) repeat-x top left;
    
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.course_category_tree .category .subcategories {
    background-color: inherit;
    border: 1px solid #FFFFFF;
    padding-left: 16px;
}

.course_category_tree .category.with_children .category_label {
    background-position: 3px 3px;
}

.course_category_tree .category.with_children > .category_label {
    background-repeat: no-repeat;
}

.course_category_tree .category_label {
    padding-left: 13px;
}

.course_category_tree .category_link {
    display: block;
    font-size: 120%;
    font-weight: bold;
    margin: 5px;
}

.course_category_tree .category .courses {
    background-color: inherit;
}

.course_category_tree .category .course {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #F9F9F9 #F9F9F9 #EEEEEE;
    border-style: solid;
    border-width: 1px 0 1px 1px;
}

.course_category_tree .category .courses .course_link {
    margin: 5px 100px 5px 5px;
}

.course_category_tree .category .course.even {
    background-color: #F6F6F6;
    border-color: #F9F9F9 #EEEEEE #EEEEEE;
}

.course_category_tree .category .course_info {
    right: 3px;
    top: 3px;
}

/*new 2.3 changes */
span.section-modchooser-link a{
	padding: .5em 0;
	display: inline-block;
}

#dndupload-status {
  	border: 1px solid transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    font-weight: 800;
    padding: 0.8em;
    text-shadow: 0 1px 1px #FFFFFF;
}

/*titles for single sections */
.course-content .single-section .section-navigation.headingblock {
	background: #eee url([[pix:theme|bar1]]) repeat-x bottom left;
	margin-bottom: 0px;
	border: 1px solid #DDDDDD;
	border-bottom: 0px;
    box-shadow: 0 1px 1px #FAFAFA inset;
    text-shadow: 1px 1px 1px white;
}

.course-content .single-section ul li.section {
	margin-top: 0px;
}

.course-content .single-section .section-navigation .title {
	font-size: .8em;
	font-weight: inherit;
}

.course-content .single-section .section-navigation .mdl-right {
    font-size: 75%;
}

.course-content .single-section .section-navigation .mdl-right .rarrow {
    margin-left: 0.4em;
    font-size: .6em;
}

.course-content .single-section .section-navigation .mdl-left {
	font-size: 75%;
}

.course-content .single-section .section-navigation .mdl-left .larrow {
    margin-right: 0.4em;
    font-size: .7em;
}


span.completionprogress {
    font-size: 11px;
    font-weight: 200;
}

/**my moodle page style **/

div.assignment.overview {
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #dadada;
}

div.assignment.overview div.name {
    font-weight: 600;
}

div.assignment.overview div {
    display: block !important;
    float: none !important;
    width: 100% !important;
}

#page-my-index div.coursebox {
    border-bottom: none;
}


/** glossary activity **/

table.glossarycategoryheader h2.main {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

table.glossarypost {
    margin-top: 0;
    width: 100%;
    border-bottom: 1px dashed #dadada;
}

table.glossarypost td.entry h3 {
    font-size: 20px;
}

/** a few quick wiki styles **/

#page-mod-wiki-view div.generalbox {
    padding: 10px;
}

#page-mod-wiki-view h2.wiki_headingtitle {
    font-size: 22px;
    font-family: Georgia, serif;
    color: #333333;
    font-weight: 600;
    text-align: left;
    margin-bottom: 3px;
    margin-top: 2px;
}

/**HR in content blocks **/

.content hr {
    height: 1px;
    color: #dadada;
    background-color: #dadada !important;
    border: none;
    border-style: none;
}

/** some MISC styles to clean things up and keep the theme consistant **/

div#intro {
   border: 0px solid transparent;
}

div.que {
    border: 1px solid #dadada;
}

div.questionbankwindow.block div.header {
    background: #eee !important;
}

div.questionbankwindow.block div.header a {
    color: #333333 !important;
    font-size: 11px;
}

div.generalbox, div.section {
    border: 1px solid #dadada;
}

/** take borders away from some generalboxes here **/

div.generalbox.sitetopic, div.generalbox.authsui,#page-course-info div.generalbox, #page-admin-roles-assign div.generalbox, table.roleassigntable, table.roleassigntable td, #page-blocks-private-edit div.generalbox {
    border: none;
}

div.generalbox.firstpageoptions h3.main {
    font-size: 16px;
}

div.redirectmessage {
    width: 60%;
    margin: 10px auto 0 auto;
    border: none;
    font-size: 13px;
    background: #fff url([[pix:theme|ajax-loader]]) no-repeat 50% 100%;
    padding: 20px;
}

div.box.errorbox {
    border: 1px solid #dadada;
    color: #ff0000;
    background: #fff url([[pix:theme|error]]) no-repeat 1% 3%;
    padding: 10px;
}

div#newmessageoverlay {
    padding: 10px;
}

div#newmessageoverlay a {
    text-decoration: none;
    font-size: 11px;
}

#page-mod-page-view div.generalbox {
    border-left: none;
    border-right: none;
    border-top: none;
}

div#tablecontainer {
    margin-bottom: 10px;
}

div.course-content div.availabilityinfo {
    font-size: 11px;
    font-style: italic;
    padding: 2px;
    border-bottom: 1px dashed #dadada;
    margin-bottom: 10px;
}

/** login form **/

.twocolumns div.loginpanel {
    border-right: 0px dashed #dadada !important;
}

div.forgetpass {
    clear: both;
}

div.loginform div.form-input input {
    width: 90px !important;
}

div.loginform label {
    line-height: 20px;
}

div.signuppanel {
    float: right !important;
    width: 40% !important;
    margin-left: 0px;
    padding-left: 0px;
}

div.singlebutton.forumaddnew {
    text-align: center;
}

#page-course-info h2.main {
    line-height: 5px;
    margin-bottom: 5px;
}

#page-course-info div.generalbox ul, #page-course-info div.generalbox li {
    list-style-type: none;
}

#ebutton input[type="submit"] {
	display: inline-block;
	 border: 1px solid       #999;
  background:             #dfdfdf;
  color:                  #333;
  text-shadow: 0 1px 0px  #fff;
  background-image: -moz-linear-gradient(top, 
                          #f5f5f5 0%,
                          #cccccc 50%,
                          #b5b5b5 50%,
                          #f5f5f5 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0,         #f5f5f5),
    color-stop(.5,        #cccccc),
    color-stop(.5,        #b5b5b5),
    color-stop(1,         #f5f5f5));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#b5b5b5')";
  
  padding: 4px;
   font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 0px  #fff;
  font-size: 12px;
  cursor: pointer;
}

#ebutton td input[type="submit"] {
	margin-top: 10px;
}

#page-content #region-main-box .region-content {
    padding: 0;
}

.path-course-view li.activity span.autocompletion, .path-course-view li.activity form.togglecompletion {
    right: -10px;
}

.course-content .section li.activity {
	padding: 3px 0px;
}    

/*css3 transition effects for various moodle areas */
/*blocks */
.gecko .block.hidden .content, .safari .block.hidden .content {
    display: block;
    
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    min-height:0px;
    max-height:0px;
    overflow: hidden;
    
    opacity: 0.0;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
   }

.gecko .block .content, .safari .block .content {
	height: 100%;
	min-height:10px;
    max-height:5000px;
    
	opacity: 1.0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/*tabs */
.tabtree ul {
    text-align: center;
}

.tabtree .tabrow0 li a {
   background: #fff ;
}

.tabtree .tabrow0 .here a {
    background: #fff ;
    padding-bottom: 5px;
    border-top: 1px solid [[setting:maincolor]];
    font-weight: 600;
}

.tabtree .tabrow1 li a {
	border-top: 0px solid transparent !important;
}

.tabtree .tabrow0 li a {
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 8px 10px 4px;
    text-transform: uppercase;
    color: #959595;
    font-weight: 400;
    margin: 0 0;
}

.tabtree .tabrow0 li a:hover {
	border-top: 1px solid [[setting:maincolor]];
}

.ie7 .tabtree .tabrow0 li a {
	padding-bottom: 7px;
	border-color: #E6E6E6;
}

.tabtree .tabrow0 li.here .empty {
    bottom: -5px;
}

/*2nd row */
.tabtree .tabrow0 .tabrow1 {
    padding: 10px 0 2px;
}

.tabtree .tabrow0 .tabrow1 {
    margin-top: 4px;
}

.tabtree .tabrow1 li a {
    border-color: transparent;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 8px 10px 4px;
}

.tabtree .tabrow0 ul, .tabtree .tabrow0 div {
    border-top: 1px solid #E6E6E6;
}    

.tabtree .tabrow1 ul, .tabtree .tabrow1 div {
    border-top: 0px;
}

tabtree .tabrow0 ul, .tabtree .tabrow0 div {
    border-top: 1px solid #E6E6E6;
} 
